{% extends 'base.html' %}
{% load static %}

{% block title %}Best {{ category.name }} | Classfinds{% endblock title %}    

{% block content %}
    <div class="hidden lg:block">
        {% include 'includes/header.html' %}
    </div>

    

    <div class="px-3 pt-3 block lg:hidden">
        <select name="" class="locselect w-full p-5">
            <option value="">Select Location</option>
            {% for loc in locations %}
            <option value="{{ loc.id }}">{{ loc.name }}</option>
            {% endfor %}
        </select>

        <!-- <div class="title flex lg:hidden justify-between mt-4">
            <div class="flex items-center gap-2">
                <button class="border border-black rounded-full size-8"><i class="fa-light fa-arrow-left"></i></button>
                <h2 class="font-semibold leading-tight text-lg">{{ category.name }}</h2>
            </div>
            <button class="border border-black rounded-full size-8"><i class="fa-light fa-magnifying-glass"></i></button>
        </div> -->
        <!-- <div class="searh-box relative mt-3">
            <button class="text-primary absolute left-2 top-[9px]"><i class="fa-light fa-angle-left text-3xl"></i></button>
            <input type="text" placeholder="Search..." class="w-full bg-white border border-gray-300 pl-9 py-2 rounded-lg outline-none text-lg font-semibold" value="{{ category.name }}">
            <button class="absolute right-3 top-[11px] text-gray-600"><i class="fa-solid fa-xmark"></i></button>
        </div> -->
    </div>

    <div class="max-w-6xl mx-auto px-3 pt-5 pb-12 lg:py-16">
        <div class="filters space-y-3 lg:space-y-5">
            <div>
                <h2 class="text-lg lg:text-3xl font-bold">Best {{ category.name }} in <span class="locName"></span> <span class="text-xl">({{ businesses|length }})</span></h2>
                
                <ul class="flex gap-2 text-sm breadcrumb">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'categories' %}">All Categories</a></li>
                    <li><span>{{ category.name }}</span></li>
                </ul>
            </div>
            
            
            <!-- <div class="flex gap-1">
                <button class="border border-gray-200 rounded-md px-2 py-1 shadow"><i class="fa-light fa-sliders"></i> <span class="font-medium">Filters</span></button>
            </div> -->
        </div>
        
        <div class="tutor-list mt-3 lg:mt-6">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-3 lg:gap-6">
                <div class="lg:col-span-2">
                    
                    {% if businesses %}
                        <div class="space-y-3 lg:space-y-6">
                            {% for biz in businesses %}
                                {% include 'includes/business_card.html' %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <h2 class="text-2xl font-semibold">No {{ category.name }} Found</h2>
                    {% endif %}
                        
                    

                </div>

                <div class="lg:col-span-1 hidden lg:block">
                    <div class="bg-gray-200 p-3 lg:p-5 rounded-lg ">
                        <div class="bg-white rounded-md">
                            <div class="py-2 px-3 border-b border-gray-300">
                                <h3 class="text-lg font-bold text-slate-800">Send Enquiry</h3>
                            </div>
                            <div class="py-3 px-3">
                                <form action="" class="space-y-3">
                                    {% csrf_token %}
                                    <input type="text" name="" id="" placeholder="Name *" class="w-full px-3 py-2 rounded-md border border-gray-300 font-medium outline-none focus:border-blue-400">
                                    <input type="tel" name="" id="" placeholder="Phone Number *" class="w-full px-3 py-2 rounded-md border border-gray-300 font-medium outline-none focus:border-blue-400">
                                    <textarea name="" id="" placeholder="Message" class="w-full px-3 py-2 rounded-md border border-gray-300 font-medium outline-none focus:border-blue-400 min-h-24 resize-none"></textarea>
                                    <button type="submit" class="btn btn-primary w-full !rounded-md font-semibold cursor-pointer">Send Enquiry</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  

    {% include 'includes/footer.html' %}
    
{% endblock content %}


{% block extra_js %}
    <script>
        $(document).ready(function () {
            const savedValue = localStorage.getItem('selectedLocation');
            const locId = JSON.parse(savedValue).id;
            const locName = JSON.parse(savedValue).name;
            if (locName !== "") {
                // Build final title
                let backendTitle = "{{ category.meta_title }}";
                if (!backendTitle || backendTitle == "None") {
                    backendTitle = "{{ category.name }}";
                }
                document.querySelector('.locName').innerText = locName;
                let finalTitle = backendTitle + " in " + locName + " | Classfinds";

                // Set final title
                document.title = finalTitle;

                // OPTIONAL: Update meta description also
                let desc = document.querySelector('meta[name="description"]');
                if (desc) {
                    desc.setAttribute("content", backendTitle + " available in " + locName + ".");
                }
            }

            // const csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
            // $.ajax({
            //     url: window.location.pathname,
            //     type: "POST",
            //     data: {
            //         'csrfmiddlewaretoken': csrf_token,
            //         'location_id': locId
            //     },
                
            //     success: function (response) {
            //         // console.log("Location sent to backend:", response);
            //     },
            //     error: function (err) {
            //         console.log("Error sending location:", err);
            //     }
            // });

            $('.locselect').on('change', function () {
                const selectedValue = $(this).val();
                let newUrl = window.location.pathname + "?location=" + selectedValue;

                // Redirect
                window.location.href = newUrl;
                
                // $.ajax({
                //     type: "GET",
                //     url: "/select-location/",
                //     data: {
                //         'location_id': selectedValue
                //     },
                //     dataType: "json",
                //     success: function (response) {
                //         const locationData = {
                //             id: selectedValue,
                //             name: response.name,
                //         };
                //         localStorage.setItem("selectedLocation", JSON.stringify(locationData));
                //         if(locId != selectedValue){
                //             window.location.reload();
                //         }
                //         console.log("Location saved:", locationData);
                //     }
                // });

            });
        });
    </script>
{% endblock extra_js %}
    
    