{% extends 'base.html' %}
{% load static %}

{% block title %}Best {{ category.name }} near me | Classfinds{% endblock title %}

{% block body_bg %}bg-gray-150{% endblock body_bg %}
    

{% block content %}
    <div class="hidden lg:block">
        {% include 'includes/header.html' %}
    </div>

    <!-- <div class="title flex lg:hidden justify-between px-3 py-3 border border-b-gray-200">
        <div class="flex items-center gap-2">
            <button class="border border-black rounded-full size-8"><i class="fa-light fa-arrow-left"></i></button>
            <div>
                <h2 class="font-semibold leading-tight text-lg">{{ category.name }}</h2>
                <p class="leading-none text-gray-500"><span class="text-primary font-medium">Location:</span> Garia <i class="fa-solid fa-angle-down text-sm"></i></p>
            </div>
        </div>
        <button class="border border-black rounded-full size-8"><i class="fa-light fa-magnifying-glass"></i></button>
    </div> -->

    <div class="px-3 py-3 block lg:hidden">
        <p class="leading-none text-center mb-2"><span class="text-primary font-semibold">Location:</span> <span class="text-gray-500">Garia <i class="fa-solid fa-angle-down text-xs"></i></span></p>
        <div class="searh-box relative">
            <button class="text-primary absolute left-2 top-[9px]"><i class="fa-light fa-angle-left text-3xl"></i></button>
            <input type="text" placeholder="Search..." class="w-full bg-white border border-gray-300 pl-9 py-2 rounded-lg outline-none text-lg font-semibold" value="{{ category.name }}">
            <button class="absolute right-3 top-[11px] text-gray-600"><i class="fa-solid fa-xmark"></i></button>
        </div>
    </div>

    <div class="filters max-w-6xl mx-auto px-3 lg:pt-10 space-y-3 lg:space-y-5">
        <h2 class="text-3xl font-bold hidden lg:inline-block">Best {{ category.name }} in Garia </h2>
        <div class="flex gap-1">
            <button class="border border-gray-200 rounded-md px-2 py-1 shadow"><i class="fa-light fa-sliders"></i> <span class="font-medium">Filters</span></button>
        </div>
        <h2 class="font-bold text-lg lg:text-xl mb-3 leading-none">10k results for your search</h2>
    </div>

    <div class="max-w-6xl mx-auto px-3 pb-3 lg:pt-3 bg-gray-200 lg:bg-transparent">
        <div class="tutor-list ">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-3 lg:gap-6">
                <div class="lg:col-span-2">
                    <div class="space-y-3 lg:space-y-5">
                        {% for biz in businesses %}
                            {% include 'includes/business_card.html' %}
                        {% endfor %}
                    </div>
                </div>
                <div class="lg:col-span-1 hidden lg:block">
                    <div class="bg-gray-100 p-3">

                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}
    