{% load static %}
<footer class="bg-[#1D2026]">
    <div class="max-w-7xl mx-auto px-3 py-8 lg:py-10">
        <div class="block lg:flex space-y-6 gap-10 justify-between">
            <div class="">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/logo-white.png' %}" alt="logo" class="max-w-64">
                </a>
                <p class="text-[#8C94A3] leading-5 mt-3 lg:mt-7">Discover trusted tutors, coaching centers, <br>and learning programs in one place.</p>
                <ul class="flex gap-3 mt-3 lg:mt-7">
                    <li><a href="#" class="size-10 bg-[#363B47] flex justify-center items-center text-white hover:bg-[#0F3A80]"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#" class="size-10 bg-[#363B47] flex justify-center items-center text-white hover:bg-[#0F3A80]"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>

            <div class="">
                <h2 class="text-white font-bold text-xl mb-5">Quick Links</h2>
                <ul class="space-y-2">
                    <li><a href="#" class="text-[#8C94A3] hover:text-white">Home</a></li>
                    <li><a href="#" class="text-[#8C94A3] hover:text-white">Categories</a></li>
                    <li><a href="#" class="text-[#8C94A3] hover:text-white">Contact</a></li>
                    <li><a href="#" class="text-white hover:text-white border-b-2 border-[#0F3A80]">List Your Profile</a></li>
                </ul>
            </div>
            <div class="">
                <h2 class="text-white font-bold text-xl mb-5">Top Categories</h2>
                <ul class="space-y-2">
                    <li><a href="#" class="text-[#8C94A3] hover:text-white">Home Tutor</a></li>
                    <li><a href="#" class="text-[#8C94A3] hover:text-white">NEET Coaching</a></li>
                    <li><a href="#" class="text-[#8C94A3] hover:text-white">JEE Coaching</a></li>
                    <li><a href="#" class="text-[#8C94A3] hover:text-white"></a></li>
                </ul>
            </div>
            <div class="">
                <h2 class="text-white font-bold text-2xl mb-5">Contact Us</h2>
                <ul class="space-y-2">
                    <li><i class="fa-brands fa-whatsapp text-white mr-1"></i> <a href="#" class="text-[#8C94A3] hover:text-white">+91 7872843381</a></li>
                    <li><i class="fa-regular fa-envelope text-white mr-1"></i> <a href="#" class="text-[#8C94A3] hover:text-white">info@classfinds.com</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="py-4 border-t border-[#363B47]">
        <div class="max-w-7xl mx-auto px-3 block md:flex justify-between text-center">
            <p class="text-[#8C94A3] text-sm mb-2 md:mb-0">&copy; <span id="year"></span> Classfinds. All rights reserved.</p>
            <p class="text-[#8C94A3] text-sm">Developed by <a href="#" class="text-white hover:text-blue-600">BANAVATE Technologies</a>.</p>
        </div>
    </div>
</footer>