{% load static %}
<footer class="bg-[#1D2026]">
    <div class="max-w-7xl mx-auto py-4 lg:py-10">
        <div class="flex gap-10 justify-between">
            <div class="w-1/4">
                <a href="{% url 'home' %}">
                    <!-- <img src="{% static 'images/logo-white.png' %}" alt="logo" class="max-w-64"> -->
                </a>
                <p class="text-[#8C94A3] leading-5 mt-5">Discover trusted tutors, coaching centers, and learning programs in one place.</p>
            </div>
        </div>
    </div>
    <div class="py-4 border-t border-[#363B47]">
        <div class="max-w-7xl mx-auto px-3 flex justify-between">
            <p class="text-[#8C94A3] text-sm">&copy; <span id="year"></span> Classfinds. All rights reserved.</p>
            <p class="text-[#8C94A3] text-sm">Developed by <a href="#" class="text-white hover:text-blue-600">BANAVATE Technologies</a>.</p>
        </div>
    </div>
</footer>